/* extra large >=1200px
large >=992px
medium >=768px
small >=576px
extra small <576pc */

/* @media screen and (min-width:1200px) {} */
/* */
@media screen and (max-width:1199px) and (min-width:992px){
    .menu{
        width: 100%;
        background-color: white;
        border-bottom: 1px solid grey;
        font-size: 20px;
        font-weight: bold;
    
        
    }
    
    .head1{
        width: 100%;
        padding: 100px 0px 80px 0px;
    }
    .head1 .container .col-md-6 h2{
        font-size: 65px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .head1 .container .col-md-6 button{
        width: 100px;
        font-size: 20px;
        margin-top: 20px;
    }
    .head1 .container .col-md-6 img{
        width: 100%;
    }
    
    .head2{
        width: 100%;
        padding: 20px 0px 80px 0px;
    }
    
    .head2 .container .col-12 h1{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    .head2 .container .col img,.head2 .container .col-md-block img {
        width: 300px;
    }
    .head2 .container .col h1,.head2 .container .col-md-block h1{
        color: black;
        text-decoration: none;
        font-size: 30px;
        
    }
    .head2 .container .col p, .head2 .container .col-md-block p{
        margin-bottom: 30px;
        
    }
    
    .head3{
        width: 100%;
        padding: 80px 0px;
    }
    .head3 .circle{
        width: 400px;
        height: 400px;
        background-color: #F1E4FF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
    }
    
    .head3 .col-12 h1{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    
    .head3 .col-lg-3 .card1{
        width: 14rem; 
        height:13rem;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px grey;
    }
    .head3 .col-lg-3 .card1 .card-title{
        font-size: 29px;
    }
    .head3 .col-lg-3 .card1 img{
        position: absolute;
        bottom: 20px;
    }
    
    .head4{
        padding: 40px 0px 80px 0px;
    }
    
    .head4 .container{
        background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
        padding: 40px 0px;
        border-radius: 16px;
    }
    .head4 .container .col-lg-6 h1{
        font-size: 40px;
        line-height: 54px;
        color: white;
        margin-bottom: 20px;
    }
    
    .head5{
        padding: 40px 0px;
        background: #000000;
        color: white;
    }
    
    .head5 .col-lg-7 p{
        font-size: 22px;
        color: white;
        line-height: 50px;
    }
    
    .head5 .col-lg-7 p a{
        color: white;
        margin-right: 15px;
        font-weight: bold;
    }
    
    .head5 .col-lg-7 p a:hover{
        color: blue;
    }
    
    .head5 .container .row .col-lg-3 img{
        width: 200px;
        margin-top: 20px;
        border: 2px solid silver;
        border-radius: 16px;
    }
    .blogs {
        padding: 60px 0px;
        width: 100%;
    }
    .blogs .col h1{
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
        color: #18191F;
    }
    
    .blogs .col p{
        margin-bottom: 20px;
    }
    .blogs .col img{
        width: 100%;
    }
    
    .blogs .col .cont{
        font-size: 16px;
        line-height: 26px;
        margin-top: 40px;
    }
    
}
@media screen and (min-width:768px) and (max-width:991px){
    

.menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    font-size: 20px;
    font-weight: bold;

    
}

.head1{
    width: 100%;
    padding: 80px 0px 60px 0px;
}
.head1 .container .col-md-6 h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.head1 .container .col-md-6 button{
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
}
.head1 .container .col-md-6 img{
    width: 100%;
}

.head2{
    width: 100%;
    padding: 20px 0px 50px 0px;
}

.head2 .container .col-12 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.head2 .container .col-md-4 img,.head2 .container .col-md-block img {
    width: 215px;
}
.head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
    color: black;
    text-decoration: none;
    font-size: 22px;
    text-align: left;
}
.head2 .container .col-md-4 p, .head2 .container .col-md-block p{
    margin-bottom: 30px;
    text-align: left;
}

.head3{
    width: 100%;
    padding: 60px 0px;
    position: relative;
}
.head3 .circle{
    width: 400px;
    height: 400px;
    background-color: #F1E4FF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 100px;
}

.head3 .col-12 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.head3 .col-lg-3 .card1{
    width: 14rem; 
    height:13rem;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px grey;
    
}
.head3 .col-lg-3 .card1 .card-title{
    font-size: 29px;
}
.head3 .col-lg-3 .card1 img{
    position: absolute;
    bottom: 20px;
}

.head4{
    padding: 30px 0px 80px 0px;
}

.head4 .container{
    background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
    padding: 30px 0px;
    border-radius: 16px;
}
.head4 .container .col-md-7 h1{
    font-size: 35px;
    line-height: 54px;
    color: white;
    margin-bottom: 20px;
}

.head5{
    padding: 40px 0px;
    background: #000000;
    color: white;
}

.head5 .col-lg-9 p{
    font-size: 22px;
    color: white;
    line-height: 50px;
}

.head5 .col-lg-9 p a{
    color: white;
    margin-right: 15px;
    font-weight: bold;
}

.head5 .col-lg-9 p a:hover{
    color: blue;
}

.head5 .container .row .col-lg-3 img{
    width: 200px;
    margin-right: 25px;
    border: 2px solid silver;
    border-radius: 16px;
}

.blogs {
    padding: 40px 0px;
    width: 100%;
}
.blogs .col h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #18191F;
}

.blogs .col p{
    margin-bottom: 20px;
}
.blogs .col img{
    width: 100%;
    height: 350px;
}

.blogs .col .cont{
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
}
}
@media screen and (min-width:576px) and (max-width:767px){
.menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    font-size: 20px;
    font-weight: bold;

    
}

.head1{
    width: 100%;
    padding: 50px 0px 30px 0px;
    text-align: center;
}
.head1 .container .col-md-6 img{
    width: 80%;
    
}
.head1 .container .col-md-6 h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}
.head1 .container .col-md-6 p{
    text-align: left;
}
.head1 .container .col-md-6 button{
    width: 100px;
    font-size: 20px;
    margin-top: 10px;
}


.head2{
    width: 100%;
    padding: 30px 0px 50px 0px;
}

.head2 .container .col-12 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.head2 .container .col-md-4 img,.head2 .container .col-md-block img {
    width: 240px;
}
.head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
    color: black;
    text-decoration: none;
    font-size: 25px;
    text-align: left;
}
.head2 .container .col-md-4 p, .head2 .container .col-md-block p{
    margin-bottom: 30px;
    text-align: left;
}

.head3{
    width: 100%;
    padding: 50px 0px;
    position: relative;
}
.head3 .circle{
    width: 400px;
    height: 400px;
    background-color: #F1E4FF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 120px;
}

.head3 .col-12 h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.head3 .col-lg-3 .card1{
    width: 15rem; 
    height:14rem;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px grey;
}
.head3 .col-lg-3 .card1 .card-title{
    font-size: 30px;
}
.head3 .col-lg-3 .card1 img{
    position: absolute;
    bottom: 20px;
}

.head4{
    padding: 30px 0px 80px 0px;
}

.head4 .container{
    background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
    padding: 20px 0px;
    border-radius: 15px;
    
}
.head4 .container .col-12 h1{
    font-size: 30px;
    line-height: 54px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}
.head4 .container .col-12 .form-niline
{
    margin-left: 25px;
}

.head5{
    padding: 40px 0px;
    background: #000000;
    color: white;
}

.head5 .col-lg-9 p{
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.head5 .col-lg-9 p a{
    color: white;
    margin-right: 12px;
    font-weight: bold;
}

.head5 .col-lg-9 p a:hover{
    color: blue;
}

.head5 .container .row .col-lg-3 img{
    width: 200px;
    margin-right: 25px;
    border: 2px solid silver;
    border-radius: 16px;
}

.blogs {
    padding: 40px 0px;
    width: 100%;
}
.blogs .col h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #18191F;
}

.blogs .col p{
    margin-bottom: 20px;
}
.blogs .col img{
    width: 100%;
    height: 300px;
}

.blogs .col .cont{
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
}

}
@media screen and (max-width:576px){
    .menu{
        width: 100%;
        background-color: white;
        border-bottom: 1px solid grey;
        font-size: 20px;
        font-weight: bold;
    
        
    }
    
    .head1{
        width: 100%;
        padding: 50px 0px 30px 0px;
        text-align: center;
    }
    .head1 .container .col-md-6 img{
        width: 80%;
        
    }
    .head1 .container .col-md-6 h2{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
    }
    .head1 .container .col-md-6 p{
        text-align: left;
    }
    .head1 .container .col-md-6 button{
        width: 100px;
        font-size: 20px;
        margin-top: 10px;
    }
    
    
    .head2{
        width: 100%;
        padding: 30px 0px 50px 0px;
        text-align: center;
    }
    
    .head2 .container .col-12 h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .head2 .container .col-md-4 img,.head2 .container .col-md-block img {
        width: 300px;
    }
    .head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
        color: black;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    }
    .head2 .container .col-md-4 p, .head2 .container .col-md-block p{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .head3{
        width: 100%;
        padding: 50px 0px;
        position: relative;
    }
    .head3 .circle{
        width: 400px;
        height: 400px;
        background-color: #F1E4FF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 120px;
    }
    
    .head3 .col-12 h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    
    .head3 .col-lg-3 .card1{
        width: 15rem; 
        height:14rem;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px grey;
        margin-left: 20%;
    }
    .head3 .col-lg-3 .card1 .card-title{
        font-size: 30px;
        text-align: left;
    }
    .head3 .col-lg-3 .card1 img{
        position: absolute;
        bottom: 20px;
        text-align: left;
    }
    
    .head4{
        padding: 30px 0px 80px 0px;
    }
    
    .head4 .container{
        background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
        padding: 20px 15px;
        border-radius: 15px;
        
    }
    .head4 .container .col-12 h1{
        font-size: 22px;
        line-height: 40px;
        color: white;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline
    {
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline .text-inp{
        background: #F4F5Ff; 
        width: 270px; 
        height: 50px; 
        margin-bottom: 10px;
        
    }
    .head4 .container .col-12 .form-niline .s-btn{
        background: #18191F; 
        height: 50px;  
        color: white;
    }
    .head5{
        padding: 40px 0px;
        background: #000000;
        color: white;
    }
    
    .head5 .col-lg-9 p{
        font-size: 18px;
        color: white;
        line-height: 30px;
    }
    
    .head5 .col-lg-9 p a{
        color: white;
        margin-right: 15px;
        font-weight: bold;
    }
    
    .head5 .col-lg-9 p a:hover{
        color: blue;
    }
    
    .head5 .container .row .col-lg-3 img{
        width: 150px;
        margin-right: 30px;
        border: 2px solid silver;
        border-radius: 16px;
    }
    .blogs {
        padding: 30px 0px;
        width: 100%;
    }
    .blogs .col h1{
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
        color: #18191F;
    }
    
    .blogs .col p{
        margin-bottom: 20px;
    }
    .blogs .col img{
        width: 100%;
        height: 250px;
    }
    
    .blogs .col .cont{
        font-size: 16px;
        line-height: 26px;
        margin-top: 40px;
    }
}
@media screen and (max-width:375px){
    .menu{
        width: 100%;
        background-color: white;
        border-bottom: 1px solid grey;
        font-size: 20px;
        font-weight: bold;
    
        
    }
    
    .head1{
        width: 100%;
        padding: 50px 0px 30px 0px;
        text-align: center;
    }
    .head1 .container .col-md-6 img{
        width: 80%;
        
    }
    .head1 .container .col-md-6 h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
    }
    .head1 .container .col-md-6 p{
        text-align: left;
    }
    .head1 .container .col-md-6 button{
        width: 100px;
        font-size: 20px;
        margin-top: 10px;
    }
    
    
    .head2{
        width: 100%;
        padding: 30px 0px 50px 0px;
        text-align: center;
    }
    
    .head2 .container .col-12 h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .head2 .container .col-md-4 img,.head2 .container .col-md-block img {
        width: 260px;
    }
    .head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
        color: black;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    }
    .head2 .container .col-md-4 p, .head2 .container .col-md-block p{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .head3{
        width: 100%;
        padding: 50px 0px;
        position: relative;
    }
    .head3 .circle{
        width: 400px;
        height: 400px;
        background-color: #F1E4FF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 120px;
    }
    
    .head3 .col-12 h1{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .head3 .col-lg-3 .card1{
        width: 15rem; 
        height:14rem;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px grey;
        margin-left: 12%;
    }
    .head3 .col-lg-3 .card1 .card-title{
        font-size: 30px;
        text-align: left;
    }
    .head3 .col-lg-3 .card1 img{
        position: absolute;
        bottom: 20px;
        text-align: left;
    }
    
    .head4{
        padding: 30px 0px 80px 0px;
    }
    
    .head4 .container{
        background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
        padding: 20px 15px;
        border-radius: 15px;
        
    }
    .head4 .container .col-12 h1{
        font-size: 22px;
        line-height: 40px;
        color: white;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline
    {
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline .text-inp{
        background: #F4F5Ff; 
        width: 260px; 
        height: 50px; 
        margin-bottom: 10px;
        
    }
    .head4 .container .col-12 .form-niline .s-btn{
        background: #18191F; 
        height: 50px;  
        color: white;
    }
    .head5{
        padding: 40px 0px;
        background: #000000;
        color: white;
    }
    
    .head5 .col-lg-9 p{
        font-size: 18px;
        color: white;
        line-height: 30px;
    }
    
    .head5 .col-lg-9 p a{
        color: white;
        margin-right: 15px;
        font-weight: bold;
    }
    
    .head5 .col-lg-9 p a:hover{
        color: blue;
    }
    
    .head5 .container .row .col-lg-3 img{
        width: 120px;
        margin-right: 10px;
        border: 2px solid silver;
        border-radius: 16px;
    }
    @media screen and (max-width:320px){
        .menu{
            width: 100%;
            background-color: white;
            border-bottom: 1px solid grey;
            font-size: 20px;
            font-weight: bold;
        
            
        }
        
        .head1{
            width: 100%;
            padding: 50px 0px 30px 0px;
            text-align: center;
        }
        .head1 .container .col-md-6 img{
            width: 80%;
            
        }
        .head1 .container .col-md-6 h2{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: left;
        }
        .head1 .container .col-md-6 p{
            text-align: left;
        }
        .head1 .container .col-md-6 button{
            width: 100px;
            font-size: 20px;
            margin-top: 10px;
        }
        
        
        .head2{
            width: 100%;
            padding: 30px 0px 50px 0px;
            text-align: center;
        }
        
        .head2 .container .col-12 h1{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .head2 .container .col-md-4 img,.head2 .container .col-md-block img {
            width: 260px;
        }
        .head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
            color: black;
            text-decoration: none;
            font-size: 25px;
            text-align: center;
        }
        .head2 .container .col-md-4 p, .head2 .container .col-md-block p{
            margin-bottom: 30px;
            text-align: center;
        }
        
        .head3{
            width: 100%;
            padding: 50px 0px;
            position: relative;
        }
        .head3 .circle{
            width: 400px;
            height: 400px;
            background-color: #F1E4FF;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: 120px;
        }
        
        .head3 .col-12 h1{
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        
        .head3 .col-lg-3 .card1{
            width: 15rem; 
            height:14rem;
            margin-bottom: 40px;
            box-shadow: 0px 0px 15px grey;
            margin-left: 8%;
        }
        .head3 .col-lg-3 .card1 .card-title{
            font-size: 30px;
            text-align: left;
        }
        .head3 .col-lg-3 .card1 img{
            position: absolute;
            bottom: 20px;
            text-align: left;
        }
        
        .head4{
            padding: 30px 0px 80px 0px;
        }
        
        .head4 .container{
            background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
            padding: 20px 15px;
            border-radius: 15px;
            
        }
        .head4 .container .col-12 h1{
            font-size: 22px;
            line-height: 40px;
            color: white;
            margin-bottom: 20px;
            margin-left: 10px;
        }
        .head4 .container .col-12 .form-niline
        {
            margin-left: 10px;
        }
        .head4 .container .col-12 .form-niline .text-inp{
            background: #F4F5Ff; 
            width: 230px; 
            height: 50px; 
            margin-bottom: 10px;
            
        }
        .head4 .container .col-12 .form-niline .s-btn{
            background: #18191F; 
            height: 50px;  
            color: white;
        }
        .head5{
            padding: 40px 0px;
            background: #000000;
            color: white;
        }
        
        .head5 .col-lg-9 p{
            font-size: 18px;
            color: white;
            line-height: 30px;
        }
        
        .head5 .col-lg-9 p a{
            color: white;
            margin-right: 15px;
            font-weight: bold;
        }
        
        .head5 .col-lg-9 p a:hover{
            color: blue;
        }
        
        .head5 .container .row .col-lg-3 img{
            width: 120px;
            margin-right: 10px;
            border: 2px solid silver;
            border-radius: 16px;
        }
        .blogs {
            padding: 25px 0px;
            width: 100%;
        }
        .blogs .col h1{
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
            color: #18191F;
        }
        
        .blogs .col p{
            margin-bottom: 20px;
        }
        .blogs .col img{
            width: 100%;
            height: 220px;
        }
        
        .blogs .col .cont{
            font-size: 16px;
            line-height: 26px;
            margin-top: 40px;
        }
    }
}
@media screen and (max-width:320px){
    .menu{
        width: 100%;
        background-color: white;
        border-bottom: 1px solid grey;
        font-size: 20px;
        font-weight: bold;
    
        
    }
    
    .head1{
        width: 100%;
        padding: 50px 0px 30px 0px;
        text-align: center;
    }
    .head1 .container .col-md-6 img{
        width: 80%;
        
    }
    .head1 .container .col-md-6 h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
    }
    .head1 .container .col-md-6 p{
        text-align: left;
    }
    .head1 .container .col-md-6 button{
        width: 100px;
        font-size: 20px;
        margin-top: 10px;
    }
    
    
    .head2{
        width: 100%;
        padding: 30px 0px 50px 0px;
        text-align: center;
    }
    
    .head2 .container .col-12 h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .head2 .container .col-md-4 img,.head2 .container .col-md-block img {
        width: 260px;
    }
    .head2 .container .col-md-4 h1,.head2 .container .col-md-block h1{
        color: black;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    }
    .head2 .container .col-md-4 p, .head2 .container .col-md-block p{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .head3{
        width: 100%;
        padding: 50px 0px;
        position: relative;
    }
    .head3 .circle{
        width: 400px;
        height: 400px;
        background-color: #F1E4FF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 120px;
    }
    
    .head3 .col-12 h1{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .head3 .col-lg-3 .card1{
        width: 15rem; 
        height:14rem;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15px grey;
        margin-left: 8%;
    }
    .head3 .col-lg-3 .card1 .card-title{
        font-size: 30px;
        text-align: left;
    }
    .head3 .col-lg-3 .card1 img{
        position: absolute;
        bottom: 20px;
        text-align: left;
    }
    
    .head4{
        padding: 30px 0px 80px 0px;
    }
    
    .head4 .container{
        background: linear-gradient(to  right, #8C30F5,hsl(268, 89%, 72%));
        padding: 20px 15px;
        border-radius: 15px;
        
    }
    .head4 .container .col-12 h1{
        font-size: 22px;
        line-height: 40px;
        color: white;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline
    {
        margin-left: 10px;
    }
    .head4 .container .col-12 .form-niline .text-inp{
        background: #F4F5Ff; 
        width: 230px; 
        height: 50px; 
        margin-bottom: 10px;
        
    }
    .head4 .container .col-12 .form-niline .s-btn{
        background: #18191F; 
        height: 50px;  
        color: white;
    }
    .head5{
        padding: 40px 0px;
        background: #000000;
        color: white;
    }
    
    .head5 .col-lg-9 p{
        font-size: 18px;
        color: white;
        line-height: 30px;
    }
    
    .head5 .col-lg-9 p a{
        color: white;
        margin-right: 15px;
        font-weight: bold;
    }
    
    .head5 .col-lg-9 p a:hover{
        color: blue;
    }
    
    .head5 .container .row .col-lg-3 img{
        width: 120px;
        margin-right: 10px;
        border: 2px solid silver;
        border-radius: 16px;
    }
    .blogs {
        padding: 25px 0px;
        width: 100%;
    }
    .blogs .col h1{
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
        color: #18191F;
    }
    
    .blogs .col p{
        margin-bottom: 20px;
    }
    .blogs .col img{
        width: 100%;
        height: 200px;
    }
    
    .blogs .col .cont{
        font-size: 16px;
        line-height: 26px;
        margin-top: 40px;
    }
}